*{
    margin: 0;
}

body {
    height: 100vh;
    background-color: #bbada0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-info {
    height: 5rem;
    width: 24rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* margin-left: 0.4rem; */
}

.title, .score, .new-game {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    height: 4rem;
    width: 8rem;
    background-color: #887275;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    color:#d3cac1;
}

.title2 {
    width: 8rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: row;
}

.score {
    width: 8rem;
    height: 1.7rem;
    background-color: #887275;
    border-radius: 0.3rem;
    /* font-size: medium; */
    color: white;
}

.score-title {
    font-size:0.8rem;
    font-weight: 900;
}

.score-count {
    font-size: 1.2rem;
}

.new-game {
    cursor: pointer;
    height: 1.7rem;
    width: 8rem;
    background-color: #887275;
    border-radius: 0.3rem;
    color: white;
    font-weight: 700;
}
.game {
    height: 24rem;
    width: 24rem;
    margin-top: 1.4rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cell, .game-over, .try-again {
    font-family: Arial, Helvetica, sans-serif;
}

.cell {
    width: 5.5rem;
    height: 5.5rem;
    border: 5px solid #bbada0;
    background: #d3cac1;
    font-size: 30px;
    font-family: 'Google Sans';
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 300;
    border-radius: 0.5rem;
}

.game-over {
    position: relative;
    top: -24.3rem;
    height: 24rem;
    width: 24rem;
    background-color: rgb(131, 172, 51, 0.75);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: #1b1b1b;
    margin-left: 0.3rem;
}

.over {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.try-again {
    cursor: pointer;
    height: 3.5rem;
    width: 10rem;
    background-color: rgb(113, 150, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 1rem;
}